*{margin: 0;padding: 0;}
#content{width: 100%;margin: 0 auto;display: block;}
.top{background-color: #f6f6f6;padding: 60px 0px 0px 0px;}
.top-1{padding: 0px 0 40px 0;width: 100%;}
.top-1 a{text-align: center;text-decoration: none;display: block;width: 100px;height: auto;margin: 20px auto 0px;}
.text{text-align: center;text-decoration: none;font-size: 14px;}
.text a{padding: 5px 5px;margin-top: 5px;color: #666666;display: inline-block;}
.text-1{color: #F14382!important;}
.text a:hover{color: #F14382;}

.btn{position: relative;}
.num-box{overflow: hidden;width: 100%;position: absolute;top: -2px;left: 0;}
.heng{width: 758px;height: 4px;margin: 0 auto;background: #d9d9d9;}

.num-2{width: 962px;margin: 0 auto;background: #5678A0;height: auto;}
.num-2-1{width: 25%;float: left;height: 80px;text-align: center;}
.num-2-1 span{font-size: 14px;}
.num-2-1-1,.num-2-1-2{width: 40px;height: 40px;margin: -10px auto 0;line-height: 40px;text-align: center;font-size: 18px;border-radius: 50%;color: white;position: relative;top: -12px;left: 0;}
.num-2-1-1{background-color: #f46;}
.num-2-1-2{background-color: #d9d9d9;}
.num-text{color: #F14382;}

.content-btn{padding-top: 100px;}
.content-btn-text{text-align: center;color: #444;}
.content-btn-text h2{padding-bottom: 10px;font-weight: 400;font-size: 16px;}
.content-btn-text span{font-size: 13px;color: #888;}

.content-btn-box{width: 390px;margin: 0 auto;padding: 50px 5px;}
.btn-1{margin-top: 5px;list-style: none;}
.btn-1 li{margin-bottom: 10px;}
.btn-1 a:hover{background-color: #F6F6F6;}
.btn-1-box{text-decoration: none;margin: 0 auto;border: 1px solid #d4d4d4;border-radius: 5px;width: 160px;height: 28px;line-height: 28px;color: #666;font-size: 14px;display: block;padding: 10px 3px 10px 15px;position: relative;text-indent: 33px;}
.btn-weibo,.btn-QQ,.btn-douban{width: 25px;height: 25px;display: inline-block;position: absolute;top: 12px;left: 15px;}
.btn-weibo{background: url(../img/20150115153954_UWNXn.png) -4px -4px;}
.btn-QQ{background: url(../img/20150115153954_UWNXn.png) -36px -4px;}
.btn-douban{background: url(../img/20150115153954_UWNXn.png) -67px -4px;}
